body, a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #202020; }

h1 {
  font-weight: 800;
  letter-spacing: 2px; }

input {
  padding: 8px;
  padding-left: 14px;
  border: none;
  max-width: 200px;
  margin-bottom: 15px;
  border-radius: 10px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li a {
  text-decoration: none;
  color: #202020; }

button {
  transform: translateY(0);
  padding: 0.5rem 0;
  background-color: #aed5fa;
  color: #202020;
  border: none;
  border-radius: 10px;
  transition: 250ms; }

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); }

html, body, .wrapper {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0; }

.wrapper {
  display: grid;
  grid-template-rows: 100px auto 150px;
  grid-template-areas: 'header' 'content' 'footer'; }

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aed5fa; }
  header h1 {
    position: relative;
    font-size: 20px; }
    header h1 i.sidebar-trigger {
      color: #285988; }
    header h1::before {
      display: block;
      position: absolute;
      content: '';
      top: 35px;
      height: 5px;
      width: 100%;
      background-color: #285988; }

.material-icons {
  position: fixed;
  left: 30px;
  top: 50px;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
  background-color: #285988;
  color: #efefef;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 9; }

.sidebar {
  position: fixed;
  left: -80vw;
  height: 100vh;
  width: 80vw;
  max-width: 400px;
  clip-path: polygon(0 0, 0 100%, 100% 100%, calc(100% - 100px) 60%, 100% 60%, calc(100% - 100px) 25%, 100% 25%, calc(100% - 100px) 0);
  z-index: 10;
  background-color: #05af5a;
  transition: 250ms ease-out; }
  .sidebar ul {
    position: relative;
    padding: 50px 30px; }
  .sidebar li {
    position: relative;
    margin-bottom: 30px; }
    .sidebar li::before {
      display: block;
      position: absolute;
      content: '';
      left: -15px;
      height: 100%;
      width: 4px;
      background-color: #aed5fa; }
  .sidebar li:nth-last-child(1) {
    position: fixed;
    bottom: 100px; }
  .sidebar li a {
    font-size: 30px;
    color: #fff; }

.SidebarToggle {
  left: 0; }

.sidebar-fade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100vw;
  z-index: 5;
  background-color: rgba(4, 0, 65, 0.5);
  transition: 250ms ease-out 250ms; }

.SidebarFadeToggle {
  right: 0; }

.content {
  grid-area: content; }

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aed5fa; }

@media only screen and (min-width: 500px) {
  header h1 {
    font-size: 26px; } }
@media only screen and (min-width: 700px) {
  header h1 {
    font-size: 32px; }
    header h1::before {
      top: 115%; } }
@media only screen and (min-width: 1000px) {
  header h1 {
    font-size: 40px; }
    header h1::before {
      top: 105%;
      height: 8px; } }
.hero {
  display: block;
  height: 70vh;
  width: 100%;
  z-index: 5; }

.hero-bg {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #285988 0%, #aed5fa 100%);
  z-index: -10; }

.hero-snowflakes {
  position: absolute;
  bottom: 100%;
  height: 100%;
  width: 100%;
  background: url(../img/snowflake.png);
  background-repeat: repeat-x;
  animation: snowflakes linear infinite 10s; }

@keyframes snowflakes {
  0% {
    bottom: 100%; }
  100% {
    bottom: -100%; } }
.places {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 20px; }
  .places img {
    filter: brightness(0.5);
    max-width: 250px;
    max-height: 250px; }
  .places .trip-finder {
    position: relative;
    background-color: #285988;
    width: 100%;
    max-width: 300px;
    padding: 40px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: right;
    flex-direction: column; }
    .places .trip-finder h1 {
      margin-top: 0;
      color: white; }

.home-information {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center; }
  .home-information article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px; }
    .home-information article img {
      max-width: 400px;
      max-height: 300px;
      background-size: cover;
      border: 5px #fff solid;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); }
    .home-information article .article-text {
      padding: 20px 50px; }
    .home-information article:nth-child(2n) {
      flex-direction: row-reverse; }
      .home-information article:nth-child(2n) h1 {
        text-align: right; }

@media only screen and (min-width: 700px) {
  .places {
    flex-direction: row; }
    .places img {
      max-width: 400px;
      max-height: 400px; }

  .home-information {
    display: flex; } }
@media only screen and (min-width: 1000px) {
  .places img {
    max-width: 400px;
    max-height: 400px; }
  .places .trip-finder {
    padding: 60px; } }
.seedo-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/lights.jpg);
  background-size: cover;
  background-position-y: 75%; }
  .seedo-hero h1 {
    margin: 0;
    height: 60px;
    font-size: 50px;
    color: white; }

.seedo-hero-text {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none; }

.fixed {
  position: relative;
  height: 60px; }

.rotating {
  position: relative;
  height: 60px;
  padding-left: 15px;
  overflow: hidden; }
  .rotating .rotating-textbox {
    position: relative;
    top: 0;
    animation: rotation 8s infinite linear; }

@keyframes rotation {
  0% {
    top: 0px; }
  31% {
    top: 0; }
  33% {
    top: -60px; }
  64% {
    top: -60px; }
  66% {
    top: -120px; }
  98% {
    top: -120px; }
  100% {
    top: -180px; } }
.flipcards {
  padding: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.flipcard {
  margin: 0 10px;
  height: 150px;
  width: 120px;
  margin-bottom: 100px;
  transform-style: preserve-3d;
  perspective: 1000px; }
  .flipcard:hover .flipcard-front {
    transform: rotateY(-180deg); }
  .flipcard:hover .flipcard-back {
    transform: rotateY(0deg); }
  .flipcard:before {
    position: absolute;
    content: '';
    top: 110%;
    width: 100%;
    height: 10px;
    background: radial-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    filter: blur(5px);
    border-radius: 50%; }

.flipcard-front {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: .5s;
  overflow: hidden;
  box-sizing: border-box;
  border: 5px solid #285988; }
  .flipcard-front img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%); }

.flipcard-back {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #285988;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: .5s;
  color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .flipcard-back h1, .flipcard-back p {
    max-width: 80%; }
  .flipcard-back h1 {
    font-size: 80%;
    text-transform: uppercase; }
  .flipcard-back p {
    display: none; }

@media only screen and (min-width: 550px) {
  .seedo-hero-text {
    display: flex; }

  .flipcards {
    padding: 60px 15px; }

  .flipcard {
    height: 300px;
    width: 240px; }

  .flipcard p {
    display: block; } }
.food-class {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 50px 60px; }
  .food-class h1 {
    grid-column: span 1;
    margin: 0;
    margin-bottom: 20px; }

.food-item {
  position: relative;
  overflow: hidden;
  padding: 30px;
  color: #efefef;
  transition: 250ms; }
  .food-item img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    min-width: 100%;
    object-fit: cover; }
  .food-item:hover {
    transform: scale(1.05);
    z-index: 5; }
  .food-item:hover .food-desc {
    top: 0;
    opacity: 1; }
  .food-item:hover .food-fade {
    opacity: 1; }

.food-fade {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  outline: 5px solid rgba(0, 0, 0, 0.7);
  outline-offset: 5px;
  transition: 250ms; }

.food-desc {
  position: relative;
  height: 100%;
  width: 100%;
  top: 100%;
  opacity: 0;
  transition: 500ms; }

@media only screen and (min-width: 750px) {
  .food-class {
    grid-template-columns: 1fr 1fr; }
    .food-class h1 {
      grid-column: span 2; } }
@media only screen and (min-width: 1000px) {
  .food-class {
    grid-template-columns: 1fr 1fr 1fr; }
    .food-class h1 {
      grid-column: span 3; } }
