
<div class="trip-finder">
    <h1>
        Your start:
        <span id="get-here-start"></span>
    </h1>
    
    <h1>
        Your destination:
        <span id="get-here-end"></span>
    </h1>
    <input type="text" placeholder="Enter your location..." id="startLocation">
    <input type="text" placeholder="Enter destination..." id="endLocation">

    <button class="find-button" onclick="SaveItems()">
        Find your trip
    </button>
</div>

<div class="routes">
    <div class="route">
        start end
    </div>
</div>