<div class="hero">
    <div class="hero-bg">
        <div class="hero-snowflakes"></div>
    </div>
</div>

<div class="places">
    <img src="/site/img/arctic.png" alt="#">
    <div class="trip-finder">
        <h1>Find trip</h1>
        <input type="text" placeholder="Enter your location...">
        <input type="text" placeholder="Enter destination...">
        <button class="find-button">Find your trip</button>
    </div>
</div>