<div class="hero">
    <div class="hero-bg">
        <div class="hero-snowflakes"></div>
    </div>
</div>

<div class="places">
    <img src="/site/img/arctic.png" alt="#">
    <div class="trip-finder">
        <h1>Find trip</h1>
        <input type="text" placeholder="Enter your location...">
        <input type="text" placeholder="Enter destination...">
        <button class="find-button">Find your trip</button>
    </div>
</div>

<div class="home-information">
    <article>
        <img src="/site/img/snowflake.png" alt="#">
        <div class="article-text">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, cupiditate quod aliquam obcaecati voluptatibus asperiores ipsum delectus voluptatem tenetur saepe! Doloremque aut quaerat, temporibus est illo quae excepturi eligendi iste consectetur, ipsa dignissimos iure a fugit blanditiis ut voluptas ab rerum ipsum vero neque alias aliquam optio. Nobis ipsa ab delectus provident excepturi, totam nesciunt corrupti ipsum mollitia alias rem, accusantium quisquam tenetur iusto temporibus eum, minima deserunt facilis? Cumque, ducimus enim asperiores quaerat quam non expedita dicta deleniti aspernatur voluptates obcaecati rem mollitia, sed repudiandae! In, modi sint cupiditate dolorem corrupti ipsam deserunt nostrum eius veritatis fugit aliquid aspernatur?</p>
        </div>
    </article>
    <article>
        <img src="/site/img/snowflake.png" alt="#">
        <div class="article-text">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, cupiditate quod aliquam obcaecati voluptatibus asperiores ipsum delectus voluptatem tenetur saepe! Doloremque aut quaerat, temporibus est illo quae excepturi eligendi iste consectetur, ipsa dignissimos iure a fugit blanditiis ut voluptas ab rerum ipsum vero neque alias aliquam optio. Nobis ipsa ab delectus provident excepturi, totam nesciunt corrupti ipsum mollitia alias rem, accusantium quisquam tenetur iusto temporibus eum, minima deserunt facilis? Cumque, ducimus enim asperiores quaerat quam non expedita dicta deleniti aspernatur voluptates obcaecati rem mollitia, sed repudiandae! In, modi sint cupiditate dolorem corrupti ipsam deserunt nostrum eius veritatis fugit aliquid aspernatur?</p>
        </div>
    </article>
    <article>
        <img src="/site/img/snowflake.png" alt="#">
        <div class="article-text">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, cupiditate quod aliquam obcaecati voluptatibus asperiores ipsum delectus voluptatem tenetur saepe! Doloremque aut quaerat, temporibus est illo quae excepturi eligendi iste consectetur, ipsa dignissimos iure a fugit blanditiis ut voluptas ab rerum ipsum vero neque alias aliquam optio. Nobis ipsa ab delectus provident excepturi, totam nesciunt corrupti ipsum mollitia alias rem, accusantium quisquam tenetur iusto temporibus eum, minima deserunt facilis? Cumque, ducimus enim asperiores quaerat quam non expedita dicta deleniti aspernatur voluptates obcaecati rem mollitia, sed repudiandae! In, modi sint cupiditate dolorem corrupti ipsam deserunt nostrum eius veritatis fugit aliquid aspernatur?</p>
        </div>
    </article>
    <article>
        <img src="/site/img/snowflake.png" alt="#">
        <div class="article-text">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, cupiditate quod aliquam obcaecati voluptatibus asperiores ipsum delectus voluptatem tenetur saepe! Doloremque aut quaerat, temporibus est illo quae excepturi eligendi iste consectetur, ipsa dignissimos iure a fugit blanditiis ut voluptas ab rerum ipsum vero neque alias aliquam optio. Nobis ipsa ab delectus provident excepturi, totam nesciunt corrupti ipsum mollitia alias rem, accusantium quisquam tenetur iusto temporibus eum, minima deserunt facilis? Cumque, ducimus enim asperiores quaerat quam non expedita dicta deleniti aspernatur voluptates obcaecati rem mollitia, sed repudiandae! In, modi sint cupiditate dolorem corrupti ipsam deserunt nostrum eius veritatis fugit aliquid aspernatur?</p>
        </div>
    </article>
    
</div>