<div class="hero seedo-hero">
    <div class="seedo-hero-text">
        <h1 class="fixed">See</h1>
        <div class="rotating">
            <div class="rotating-textbox">
                <h1>snow</h1>
                <h1>reindeers</h1>
                <h1>more snow</h1>
                <h1>snow</h1>
                <h1></h1>
            </div>
        </div>
    </div>
</div>

<div class="flipcards">

    <div class="flipcard">
        <div class="flipcard-front">
            <img src="/site/img/see&do/reindeers.jpg" alt="#">
        </div>
        <div class="flipcard-back">
            <h1>Pet reindeers</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati atque dolor maxime illo amet fugit tempore,
                labore libero voluptatum quae?</p>
        </div>
    </div>
    <div class="flipcard">
        <div class="flipcard-front">
            <img src="/site/img/see&do/ski.jpg" alt="#">
        </div>
        <div class="flipcard-back">
            <h1>Go skiing</h1>
            <p>Lorem ipsum dolor.</p>
        </div>
    </div>
    <div class="flipcard">
        <div class="flipcard-front">
            <img src="/site/img/see&do/wolf.jpg" alt="#">
        </div>
        <div class="flipcard-back">
            <h1>Find the wolf</h1>
            <p>Lorem ipsum dolor.</p>
        </div>
    </div>
    <div class="flipcard">
        <div class="flipcard-front">
            <img src="/site/img/see&do/sleigh.jpg" alt="#">
        </div>
        <div class="flipcard-back">
            <h1>Travel by sled</h1>
            <p>Lorem ipsum dolor.</p>
        </div>
    </div>
    <div class="flipcard">
        <div class="flipcard-front">
            <img src="/site/img/see&do/cottage.jpg" alt="#">
        </div>
        <div class="flipcard-back">
            <h1>Live in the snow</h1>
            <p>Lorem ipsum dolor.</p>
        </div>
    </div>
    <div class="flipcard">
        <div class="flipcard-front">
            <img src="/site/img/see&do/hot chocolate.jpg" alt="#">
        </div>
        <div class="flipcard-back">
            <h1>Drink hot chocolate</h1>
            <p>Lorem ipsum dolor.</p>
        </div>
    </div>

</div>