button{
    transform: translateY(0);
    
    padding: 0.7rem 1.4rem;
    background-color: $primary-color;
    color: $dark-text;
    border: none;
    border-radius: 10px;
    
    transition: 250ms;
    
}

button:hover{
    transform: translateY(-3px);
    box-shadow: $box-shadow;
}
