.hero{
    display: block;
    height: 70vh;
    width: 100%;

    z-index: 5;
}

.hero-bg{
    position: relative;
    
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    background: linear-gradient(to bottom, $secondary-color 0%, $primary-color 100%);
    z-index: -10;
}

.hero-snowflakes{
    position: absolute;

    bottom: 100%;

    height: 100%;
    width: 100%;
    background: url(../img/snowflake.png);
    background-repeat: repeat-x;
    
    animation: snowflakes linear infinite 10s;
}

@keyframes snowflakes{
    0%{
        bottom: 100%;
    }
    100%{
        bottom: -100%;
    }
}


.places{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 20px;

    img{
        // filter: hue-rotate(300deg);
        filter: brightness(0.5);
        max-width: 250px;
        max-height: 250px;
    }
    
    .trip-finder{
        position: relative;
        background-color: $secondary-color;
        width: 100%;
        max-width: 300px;
        padding: 40px;
        box-shadow: $box-shadow;
        
        display: flex;
        justify-content: right;
        flex-direction: column;

        h1{
            margin-top: 0;
            color: white;
            
        }
    }
}

.home-information{
    width: 100%;
    
    display: none;
    flex-direction: column;
    justify-content: center;
    
    article{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 100px;

        img{
            max-width: 400px;
            max-height: 300px;
            background-size: cover;

            border: 5px #fff solid;
            box-shadow: $box-shadow;
        }

        .article-text{
            padding: 20px 50px;
        }

        &:nth-child(2n){
            flex-direction: row-reverse;
            
            h1{
                text-align: right;
            }
        }
    }
}

@media only screen and (min-width: 700px){
    .places{
        flex-direction: row;

        img{
            max-width: 400px;
            max-height: 400px;
        }
    }

    .home-information{
        display: flex;
    }
}

@media only screen and (min-width: 1000px){
    .places{

        img{
            max-width: 400px;
            max-height: 400px;
        }

        .trip-finder{
            padding: 60px;
        }
    }
}
