@import 'variables'; 

html, body, .wrapper{
    min-height: 100vh;
    width: 100%;

    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-template-rows: 100px auto 150px;
    grid-template-areas:
        'header'
        'content'
        'footer'; 

    }
    
header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $primary-color;
    
    h1{
        position: relative;
        font-size: 26px;
        margin-right: 20px;
        
        i.sidebar-trigger{
            color: $secondary-color;
        }
        
        &::before{
            display: block;
            position: absolute;
            content: '';
            top: 35px;
            
            height: 5px;
            width: 100%;

            background-color: $secondary-color;
        }
    }
}
.material-icons{
    position: fixed;
    right: 50px;
    top: 50px;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    background-color: $secondary-color;
    color: $light-text;
}
    
.sidebar{
    position: fixed;
    left: -80vw;
    height: 100vh;
    width: 80vw;
    clip-path: polygon(0 0, 0 100%, 100% 100%, calc(100% - 100px) 60%, 100% 60%, calc(100% - 100px) 25%, 100% 25%, calc(100% - 100px) 0);
    z-index: 10;
    background-color: #05af5a;

    transition: 250ms ease-out;
    
    ul{
        position: relative;
        padding: 50px 30px;
    }
    
    li{
        position: relative;
        margin-bottom: 30px;
        
        &::before{
            display: block;
            position: absolute;
            content: '';
            left: -15px;
            
            height: 100%;
            width: 4px;
            
            background-color: $secondary-color;
        }
    }
    
    li:nth-last-child(1){
        position: fixed;
        bottom: 100px;
    }
    
    li a{
        font-size: 30px;
        color: #fff;
    }
}
.SidebarToggle{
    left: 0;
}

.sidebar-fade{
    position: absolute;
    top: 0;
    left: 100vw;
    bottom: 0;
    right: 0;
    z-index: 5;
    
    background-color: rgba(4, 0, 65, 0.5);
    transition: 250ms ease-out 250ms;
}
.SidebarFadeToggle{
    left: 0;
}

.content{
    grid-area: content;
    
    // background-color: $secondary-color;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}